* {
	box-sizing: border-box;
}

html {
	--color-accent: #efa262;

	--color-bg-elevation-0: #212121;
	--color-bg-elevation-1: #252a2d;

	--color-text-primary: #ebedee;
	--color-text-secondary: #919ca1;

	--color-subtle: #3f3f46;
	--line-height-base: 1.5;
}

body {
	background: var(--color-bg-elevation-0);
	color: var(--color-text-primary);
	font-family: system-ui, sans-serif;
	margin: 0;
	line-height: var(--line-height-base);
}

label {
	font-size: 14px;
	font-weight: 500;
}

/* TODO: Modularize mui/base custom styles */
.MuiButton-root {
	align-items: center;
	background-color: #414952;
	border: none;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui, sans-serif;
	font-size: 14px;
	line-height: var(--line-height-base);
	padding: 4px 12px;
	transition: all 0.25s;

	&:hover {
		background-color: #525a63;
	}
}

/* Dangerous buttons are red, and slightly less prominent than normal buttons. */
.MuiButton-root.isDangerous {
	background-color: transparent;
	color: #ef6861;

	&:hover {
		background-color: rgba(239, 104, 97, 0.16); /* TODO: modularize colors */
	}

	&:before {
		content: '⛔'; /* TODO: replace with SVG */
		margin-right: 5px;
	}
}

.MuiInput-input {
	background: #1e1f23;
	border-radius: 8px;
	border: 1px solid #3f3f46;
	color: var(--color-text-primary);
	font-size: 0.875rem;
	line-height: var(--line-height-base);
	padding: 8px 12px;
	transition: 0.25s all;
	width: 100%; /* I think we want the input to always match width of the root and then style the root */

	&:focus {
		border-color: #5f5f68;
	}

	&:focus-visible {
		outline: none;
	}
}
